body{
    font-family: "Martel Sans";
    background-color: #11DEF5;
    color: #071A61;

}

h1 h2 h3 h4 h5 h6 {
    font-family: "Righteous";
}

header {
    text-align: center;
}

header p {
    
        font-size: large;
        width: 360px;
        padding: 20px;
        border: 20px solid purple;
        margin-left: auto;
        margin-right: auto;
        text-align: center;   
}


#Screen img {
    max-width: 65%;
    
}

#Screen figure{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#PV1 { 
    background-color: purple;
    color: white;
}

#PV3 {
    background-color: purple;
    color: white;
}
